<link rel="stylesheet" href="./Tools/AddPosition.css" />
<link rel="stylesheet" href="../Position/style.css" />
<link rel="stylesheet" href="../Position/full.css" />
<form action="/addPosition" method="post">
	<div id="content">
		<div id="img"><div id="dropTarget"></div></div>
		<div id="text-container">
			<div id="head-container">
				<input name="name" id="name" placeholder="Название позиции" style="width: 100%;"></input>
				<div id="buy-button"  style="width: 100%;">
					<input name="price" id="price" placeholder="Цена" style="width: 100%;"></input>
				</div>
			</div>
			<input name="description" id="description" placeholder="Описание" style="width: 100%; height: 70%;"></input>
			<input name="type" id="" placeholder="Тип" style="width: 100%;"></input>
		</div>
	</div>
	<input type="img" id="img-input" style="display: none;">
	<input type="submit" value="" id="sub" style="display: none">
</form>